<?xml version="1.0"?>
<launch>

  <!-- Load model -->
  <param name="robot_description" textfile="$(find bb1_description)/urdf/bb1.urdf"/>

  <!-- Launch robot hardware driver -->
  <include file="$(find bb1_hw)/launch/bb1.launch"/>

  <!-- Load the joint state controller -->
  <rosparam command="load"
          file="$(find bb1_bringup)/config/joints.yaml"
          ns="bb1_joint_state_controller" />

  <!-- Load the differential drive controller -->
  <rosparam command="load"
          file="$(find bb1_bringup)/config/mydiffdrive.yaml"
          ns="bb1_diff_drive_controller" />

  <node name="bb1_controller_spawner" pkg="controller_manager" type="spawner" respawn="true"
    args="bb1_joint_state_controller
          bb1_diff_drive_controller"/>

    <!-- State publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- bb1 nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="bb1_nodelet_manager" args="manager"/>

  <!-- velocity commands multiplexer -->
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet bb1_nodelet_manager">
    <param name="yaml_cfg_file" value="$(find bb1_bringup)/config/mux.yaml"/>
    <remap from="cmd_vel_mux/output" to="/bb1_diff_drive_controller/cmd_vel"/>
  </node>

</launch>