<?xml version="1.0"?>
<launch>
   
  <!-- Include the base launch -->
  <include file="$(find bb1_base)/launch/base.launch"/>

  <!-- bb1_diagnostics -->
  <node pkg="bb1_diagnostics" type="diagnostics.py" name="bb1_diagnostics"/>
  
  <!-- imu -->
  <include file="$(find bb1_bringup)/launch/imu.launch"/>
 
  <!-- localization -->
  <include file="$(find bb1_bringup)/launch/localization.launch"/>

  <!-- laser scan -->
  <include file="$(find bb1_bringup)/launch/laser_scan.launch"/>
 
</launch>
