<?xml version="1.0"?>
<launch>
   
  <!-- Include the minimal launch -->
  <include file="$(find bb1_bringup)/launch/minimal.launch"/>

  <!-- bb1_status -->
  <node pkg="bb1_status" type="status.py" name="bb1_status"/>

  <!-- teleop -->
  <include file="$(find bb1_teleop)/launch/joystick.launch"/>
  
  <!-- imu -->
  <include file="$(find bb1_bringup)/launch/imu.launch"/>
 
  <!-- localization -->
  <include file="$(find bb1_bringup)/launch/localization.launch"/>

  <!-- laser scan -->
  <include file="$(find bb1_bringup)/launch/laser_scan.launch"
 
</launch>
