<?xml version="1.0"?>
<launch>
    <!-- <include file="$(find morph_bringup)/launch/gyro.launch" /> -->

    <!-- Convert an xacro and put on parameter server -->
    <!-- <param name="robot_description" command="$(find bb1_description)/urdf/bb1.urdf" /> -->

    <!-- <arg name="model" default="$(find bb1_description)/urdf/bb1.urdf"/> -->
    <param name="robot_description" textfile="$(find bb1_description)/urdf/bb1.urdf"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <!-- <rosparam file="$(find bb1_bringup)/config/bb1.yaml" command="load"/> -->

    <!-- Launch robot hardware driver -->
    <include file="$(find bb1_hw)/launch/bb1.launch"/>

    <rosparam command="load"
            file="$(find bb1_bringup)/config/joints.yaml"
            ns="bb1_joint_state_controller" />
  <rosparam command="load"
            file="$(find bb1_bringup)/config/mydiffdrive.yaml"
            ns="bb1_diff_drive_controller" />

  <node name="bb1_controller_spawner" pkg="controller_manager" type="spawner" respawn="true"
    args="bb1_joint_state_controller
          bb1_diff_drive_controller"/>

    <!-- Load the differential drive controller -->
    <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" args="mobile_base_controller joint_state_controller">
    </node> -->

    <!-- State publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- mobile base nodelet manager -->
    <!-- <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/> -->

    <!-- velocity commands multiplexer -->
    <!-- <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager"> -->
      <!-- <param name="yaml_cfg_file" value="$(find bb1_bringup)/config/mux.yaml"/> -->
      <!-- <remap from="cmd_vel_mux/output" to="/mobile_base_controller/cmd_vel"/> -->
    <!-- </node> -->

    <!-- <include file="$(find morph_bringup)/launch/ekf_localization.launch" /> -->

    <!-- bb1 nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="bb1_nodelet_manager" args="manager"/>

  <!-- velocity commands multiplexer -->
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet bb1_nodelet_manager">
    <param name="yaml_cfg_file" value="$(find bb1_bringup)/config/mux.yaml"/>
    <remap from="cmd_vel_mux/output" to="/bb1_diff_drive_controller/cmd_vel"/>
  </node>

  <!-- bb1_status -->
  <node pkg="bb1_status" type="status.py" name="bb1_status"/>

  <!-- teleop -->
  <include file="$(find bb1_teleop)/launch/joystick.launch"/>
  
  <!-- imu -->
  <node pkg="mpu6050_serial_to_imu" type="mpu6050_serial_to_imu_node" name="mpu6050_serial_to_imu_node" required="true">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="broadcast_tf" value="true" /> 
  </node>
  <node pkg="tf" type="static_transform_publisher" name="imu_base_broadcaster" args="0 0 0.03 0 0 0 base_link imu_link 10" />
  
</launch>
