<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find bb1_description)/urdf/bb1.urdf"/>
  <arg name="rvizconfig" default="$(find bb1_bringup)/config/urdf.rviz" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <rosparam command="load"
            file="$(find bb1_bringup)/config/joints.yaml"
            ns="bb1_joint_state_controller" />
  <rosparam command="load"
            file="$(find bb1_bringup)/config/mydiffdrive.yaml"
            ns="bb1_diff_drive_controller" />

</launch>