SUBSYSTEM=="tty", KERNELS=="3-4.1", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", SYMLINK+="esc_front_right"
SUBSYSTEM=="tty", KERNELS=="3-4.2", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", SYMLINK+="esc_back_right"
SUBSYSTEM=="tty", KERNELS=="3-4.3", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", SYMLINK+="esc_front_left"
SUBSYSTEM=="tty", KERNELS=="3-4.4", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", SYMLINK+="esc_back_left"
