ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5743", MODE="0666", SYMLINK+="esc_front_right"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5744", MODE="0666", SYMLINK+="esc_back_right"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5741", MODE="0666", SYMLINK+="esc_front_left"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5742", MODE="0666", SYMLINK+="esc_back_left"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0666", GROUP:="dialout",  SYMLINK+="ydlidar"
